footer {
    font-family: Arial, sans-serif;
    color: #666;
    border-top: 1px solid #cccccc;
    margin-top: 48px;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-around;
    margin: 100px 132px;
  }
  
  .footer-section {
    padding: 0;
  }
  
  .footer-section i {
    margin-bottom: 10px;
    font-weight: 600;
    color: #666;
    
  }
  
  .footer-section ul {
    list-style-type: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 5px;
  }
  
  .footer-section ul li a {
    font-size: 12px;
    line-height: 12px;
    text-decoration: none;
    color: #666;
  }
  
  .footer-section ul li a:hover {
    text-decoration: underline;
  }

  .footer-bottom{
    text-align: center;
  padding: 20px;
  background-color: #f9f9f9;
  font-size: 12px;
  color: #666;
  display: flex;
  align-items: center;
  justify-content: center;
  }
  
  .footer-links {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .footer-links li {
    margin: 0 10px;
  }
  
  .footer-links a {
    color: #666;
  }
  